extends layout

block content
    .full
        .container.navbar
            .row
                div(class="six columns") 
                    a(href="https://www.malt.fr/profile/maximedeveaux") Malt
                div(class="six columns")
                    a(href="https://www.linkedin.com/in/maxime-deveaux-44757542/") LinkedIn
        .content
            h1 Maxime Deveaux
            h3 Web Engineer Freelance
            h4 
                a(href="mailto:contact@maximedeveaux.com") contact@maximedeveaux.com